<%= form.input :category_name, placeholder: 'Enter category name...' %>
<%= form.input :active, collection: ['Active', 'Deactive'], selected: selected_option_active(@model_object), include_blank: false %>

<div class='row-form'>
  <%= form.button :submit %>
</div>

