<div class="row">
  <div class="col-md-10 flash-messages">
    <% flash.each do |msg_type, msg| %>
      <div class="alert alert-<%= msg_type %> message">
        <%= msg %>
        <a class="close" data-dismiss="alert">&#215;</a>
      </div>
    <% end %>
  </div>
</div>
